@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #f9f9f9;
    --primary-color: #ffffff;
    --secondary-color: #111111;
    --tertiary-color: #2165c1;
    --warning-color: #ff0000;
}
